@media screen and (min-width: 1080px) and (max-width: 1280px) {
  .company {
    display: none !important; }
  .t_company {
    display: none !important; }
  .milestone {
    display: none !important; }
  .t_milestone {
    display: none !important; }
  .title {
    width: 480px !important; }
  .t_title {
    width: 490px !important; }
  .t_updeted {
    float: right !important;
    margin-right: 11px; }
  .updeted {
    float: right;
    margin-right: 13px; }
  .t_approv {
    margin-left: 10px; }
  .approv {
    margin-left: 10px; } }

@media screen and (max-width: 1080px) {
  .t_title {
    width: 490px !important; }
  .title {
    width: 477px !important; }
  .t_company {
    display: none !important; }
  .company {
    display: none !important; }
  .milestone {
    display: none !important; }
  .t_milestone {
    display: none !important; }
  .updeted {
    float: right;
    margin-right: 13px; }
  .t_updeted {
    margin-left: 30px; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Ubuntu', sans-serif; }

header {
  min-width: 1060px;
  height: 58px;
  background-color: #221e2f; }

.menu {
  width: 60%;
  height: 58px;
  float: left; }
  .menu .logo {
    float: left;
    margin-left: 8px;
    margin-right: 40px;
    margin-top: 4px; }
  .menu a {
    text-transform: uppercase;
    color: #7e8191;
    text-decoration: none;
    margin-right: 60px;
    margin-top: 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    float: left;
    display: block; }
    .menu a:hover {
      color: #00c1f0; }

.bar {
  width: 40%;
  height: 58px;
  background-color: #1e172b;
  float: right; }
  .bar .ava {
    width: 58px;
    height: 58px;
    opacity: 0.9;
    float: right;
    background-image: url(../img/ava.png); }
  .bar .fa {
    float: right;
    margin-right: 30px;
    color: white;
    margin-top: 20px; }
    .bar .fa:hover {
      color: #00c1f0;
      cursor: pointer; }
  .bar .fa-plus-circle {
    color: #e1da78; }

.tab_menu {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  background-color: white;
  min-width: 1060px; }
  .tab_menu ul {
    float: right; }
    .tab_menu ul li {
      list-style: none;
      display: inline-block;
      width: 173px;
      height: 60px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box; }
      .tab_menu ul li:hover {
        border-bottom: 4px solid   #978bbd;
        cursor: pointer; }
      .tab_menu ul li a {
        text-decoration: none;
        width: 66px;
        color: #393b42;
        line-height: 60px;
        text-transform: uppercase;
        display: block;
        margin: 0 auto; }
  .tab_menu .active {
    border-bottom: 4px solid   #7466a0; }
    .tab_menu .active:hover {
      border-bottom: 4px solid   #7466a0; }

.wrapp {
  height: 100vh;
  background-image: url(../img/background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1060px;
  clear: both;
  display: none; }
  .wrapp h1 {
    margin: auto;
    text-transform: uppercase;
    padding: 40px;
    width: 102px;
    height: 30px;
    margin: 0px auto; }

.wrapp:first-child {
  display: block; }

.main_wrp {
  height: 100vh;
  background: -webkit-linear-gradient(157deg, #d1eae9 0%, #ece9ff 61%, #ece9ff 100%);
  background: -o-linear-gradient(157deg, #d1eae9 0%, #ece9ff 61%, #ece9ff 100%);
  background: linear-gradient(-67deg, #d1eae9 0%, #ece9ff 61%, #ece9ff 100%);
  min-width: 1080px; }

.drop_wrapp {
  min-width: 1060px;
  margin: 0px auto;
  padding-top: 10px;
  display: block;
  max-width: 1260px;
  margin-bottom: 45px; }
  .drop_wrapp .left {
    float: left;
    width: 30%;
    height: auto; }
    .drop_wrapp .left .drop_logo {
      margin-right: 15px;
      color: #1bbae1;
      display: inline-block;
      width: 34px;
      height: 34px;
      background-color: #00a6f1;
      background-image: -webkit-linear-gradient(320deg, #81d8f1 0%, #afe7f1 100%);
      background-image: -o-linear-gradient(320deg, #81d8f1 0%, #afe7f1 100%);
      background-image: linear-gradient(130deg, #81d8f1 0%, #afe7f1 100%);
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .drop_wrapp .left .drop_logo i {
        margin: 9px;
        color: white; }
    .drop_wrapp .left .drop_ass {
      display: inline-block;
      color: #1bbae1;
      cursor: pointer;
      position: relative; }
      .drop_wrapp .left .drop_ass p {
        float: left;
        margin-right: 10px; }
  .drop_wrapp .right {
    float: right;
    width: 70%;
    height: auto; }
    .drop_wrapp .right div {
      float: right;
      color: #1bbae1;
      margin-right: 10px; }
      .drop_wrapp .right div p {
        float: left;
        padding: 3px 0px 7px 5px;
        margin-right: 15px; }
    .drop_wrapp .right .drop_data {
      cursor: pointer;
      position: relative; }
      .drop_wrapp .right .drop_data .fa-calendar {
        float: left;
        font-size: 25px;
        margin-top: 2px;
        margin-right: 5px; }
      .drop_wrapp .right .drop_data p {
        margin-top: 2px; }
      .drop_wrapp .right .drop_data .fa-chevron-down {
        margin-top: 5px; }
    .drop_wrapp .right .drop_types {
      border: 1px solid #1bbae1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: relative; }
      .drop_wrapp .right .drop_types i {
        margin-top: 5px;
        margin-right: 6px; }
      .drop_wrapp .right .drop_types:hover {
        background-color: #1bbae1;
        color: white;
        cursor: pointer; }
    .drop_wrapp .right .drop_status {
      border: 1px solid #1bbae1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: relative; }
      .drop_wrapp .right .drop_status i {
        margin-top: 5px;
        margin-right: 6px; }
      .drop_wrapp .right .drop_status:hover {
        background-color: #1bbae1;
        color: white;
        cursor: pointer; }
    .drop_wrapp .right .drop_proj {
      border: 1px solid #1bbae1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: relative; }
      .drop_wrapp .right .drop_proj:hover {
        background-color: #1bbae1;
        color: white;
        cursor: pointer; }
      .drop_wrapp .right .drop_proj i {
        margin-top: 5px;
        margin-right: 6px; }
      .drop_wrapp .right .drop_proj p {
        margin-right: 50px !important; }
    .drop_wrapp .right .drop_miles {
      border: 1px solid #1bbae1;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: relative; }
      .drop_wrapp .right .drop_miles:hover {
        background-color: #1bbae1;
        color: white;
        cursor: pointer; }
      .drop_wrapp .right .drop_miles i {
        margin-top: 5px;
        margin-right: 6px; }
      .drop_wrapp .right .drop_miles p {
        margin-right: 50px !important; }
    .drop_wrapp .right .drop_search {
      cursor: pointer; }
      .drop_wrapp .right .drop_search i {
        font-size: 25px;
        margin-top: 2px; }

.tabl_wrapp {
  border-bottom: 1px solid #959595;
  min-width: 1060px;
  margin: 0 auto;
  display: block;
  max-width: 1260px;
  margin-bottom: 10px;
  clear: both; }
  .tabl_wrapp div {
    display: inline-block; }
  .tabl_wrapp .t {
    width: 53px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .title {
    width: 390px;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .company {
    width: 108px;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .status {
    width: 117px;
    text-align: center;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .assignee {
    width: 80px;
    text-align: center;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .milestone {
    width: 190px;
    margin-bottom: 3px;
    color: #5a5a5a; }
  .tabl_wrapp .spent {
    width: 100px;
    text-align: center;
    margin-bottom: 3px;
    color: #5a5a5a; }
    .tabl_wrapp .spent i {
      width: 15px;
      height: 15px;
      color: #5a5a5a; }
  .tabl_wrapp .approv {
    width: 100px;
    text-align: center;
    margin-bottom: 3px;
    color: #00a5f1; }
    .tabl_wrapp .approv i {
      color: #00a5f1; }
  .tabl_wrapp .updeted {
    width: 81px;
    color: #5a5a5a; }

.t_item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.6); }

.t_item {
  max-width: 1260px;
  margin: 0 auto;
  height: 44px;
  max-width: 1260px;
  background-color: rgba(235, 237, 246, 0.6);
  border: 1px solid #959595;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .t_item div {
    display: block;
    float: left; }
  .t_item .img {
    margin: 13px 25px 12px 14px; }
  .t_item .t_title {
    width: 390px;
    margin-right: 0px; }
    .t_item .t_title p {
      font-size: 15px;
      line-height: 44px; }
      .t_item .t_title p span {
        color: #6d769b; }
  .t_item .t_company {
    margin-right: 50px; }
    .t_item .t_company p {
      margin-top: 13px;
      color: #7c8182;
      line-height: 20px;
      text-transform: uppercase; }
  .t_item .t_status {
    width: 98px; }
    .t_item .t_status .new {
      margin: 13px auto;
      width: 41px;
      height: 19px;
      margin-top: 13px;
      text-align: center;
      color: white;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #77d2e2; }
    .t_item .t_status .on_hold {
      margin: 13px auto;
      width: 63px;
      height: 19px;
      margin-top: 13px;
      text-align: center;
      color: white;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #c6c6c6;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 0px 3px 0px 3px; }
  .t_item .t_assignee img {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 6px 30px 0px 30px; }
  .t_item .t_milestone {
    width: 192px; }
    .t_item .t_milestone .sercl {
      width: 17px;
      height: 17px;
      background-color: #284e9b;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-top: 10px;
      margin-right: 10px; }
    .t_item .t_milestone .text {
      width: 181px;
      height: 14px;
      color: #3e4041;
      font-family: Ubuntu;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 5px;
      margin-bottom: 4px; }
    .t_item .t_milestone p {
      color: #284e9b; }
      .t_item .t_milestone p span {
        color: #969c9d; }
  .t_item .t_spent {
    width: 108px;
    text-align: center; }
    .t_item .t_spent i {
      width: 6px;
      height: 4px;
      color: #5a5a5a;
      font-size: 20px;
      font-weight: 700;
      line-height: 44px; }
  .t_item .t_approv {
    width: 108px;
    text-align: center; }
    .t_item .t_approv i {
      width: 6px;
      height: 4px;
      color: #5a5a5a;
      font-size: 20px;
      font-weight: 700;
      line-height: 44px; }
  .t_item .t_updeted {
    width: 83px; }
    .t_item .t_updeted p {
      width: 72px;
      height: 14px;
      color: #7c8182;
      font-family: Ubuntu;
      font-size: 14px;
      font-weight: 400;
      line-height: 44px;
      float: left; }
    .t_item .t_updeted i {
      color: #b7b7b7;
      line-height: 44px;
      margin-left: 6px; }

.drop_list1 {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  color: #1bbae1;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list1 li {
    text-align: center; }
    .drop_list1 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }

.drop_list2 {
  display: none;
  position: absolute;
  background-color: white;
  color: #1bbae1;
  list-style: none;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list2 li {
    text-align: center; }
    .drop_list2 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }

.drop_list3 {
  display: none;
  position: absolute;
  background-color: white;
  color: #1bbae1;
  list-style: none;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list3 li {
    text-align: center; }
    .drop_list3 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }

.drop_list4 {
  display: none;
  position: absolute;
  background-color: white;
  color: #1bbae1;
  list-style: none;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list4 li {
    text-align: center; }
    .drop_list4 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }

.drop_list5 {
  display: none;
  position: absolute;
  background-color: white;
  color: #1bbae1;
  list-style: none;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list5 li {
    text-align: center; }
    .drop_list5 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }

.drop_list6 {
  display: none;
  position: absolute;
  background-color: white;
  color: #1bbae1;
  list-style: none;
  top: 32px;
  left: 0px;
  width: 100px;
  border: 1px solid #1bbae1;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .drop_list6 li {
    text-align: center; }
    .drop_list6 li:hover {
      background-color: #1bbae1;
      color: white;
      cursor: pointer; }
