@media screen and (min-width:1080px) and (max-width:1280px){
	.company{
		display: none !important;
	}
	.t_company{
		display: none !important;
	}
	.milestone{
		display: none !important;
	}
	.t_milestone{
		display: none !important;
	}
	
	.title{
		 width: 480px !important;
		
	}
	.status{
		
	}
	
	.t_title{
		width: 490px !important;
	}
	.t_updeted{
		float: right!important;
		margin-right: 11px; 
	}
	.updeted{
		float: right;
		margin-right: 13px; 
	}
	.t_approv{
		margin-left: 10px;	
	}
	.approv{
		margin-left: 10px;	
	}
}

@media screen and (max-width:1080px){
	.t_title{
		width: 490px !important;
		
	}
	.title{
		 width: 477px !important;
	}
	.t_company{
		display: none !important;
	}
	.company{
		display: none !important;
	}
	.milestone{
		display: none !important;
	}
	.t_milestone{
		display: none !important;
	}
	.updeted{
		float: right;
		margin-right: 13px; 
	}
	.t_updeted{
		margin-left: 30px
	}
}