@import  "media";
@import  "var";

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

header{
	min-width: 1060px;
	height: 58px;
	background-color: #221e2f;
}

.menu{
	width: 60%;
	height: 58px;
	float: left;
	.logo{
		float: left;
	    margin-left: 8px;
    	margin-right: 40px;
    	margin-top: 4px;

	}
	a{
		text-transform: uppercase;
		color: #7e8191;
		text-decoration: none;
		margin-right: 60px;
		margin-top: 20px;
		transition: 1s;
		float: left;
		display: block;
		&:hover{
			color: #00c1f0;
		}
	}
}

.bar{
	width: 40%;
	height: 58px;
	background-color: #1e172b;
	float: right;
	
	.ava{
		width: 58px;
		height: 58px;
		opacity: 0.9;
		float: right;
		background-image: url(../img/ava.png);
	}
	.fa{
		float: right;
		margin-right: 30px;
		color: white;
		
		margin-top: 20px;
		&:hover{
			color: #00c1f0;
			cursor: pointer;
		}
	}
	.fa-plus-circle{
		color: #e1da78;
	}
	
}
.tab_menu{
	box-sizing: border-box;
   	height: 60px;
   	background-color: white;
    min-width: 1060px;	
	ul{
		float: right;
		li{
			list-style: none;
			display: inline-block;
			width: 173px;
			height: 60px;
			box-sizing: border-box;
			&:hover{
				border-bottom: 4px solid   #978bbd;
				cursor: pointer;
			}
			a{
				text-decoration: none;
				width: 66px;
				color: #393b42;
				
				
				line-height: 60px;
				text-transform: uppercase;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.active {
		border-bottom: 4px solid   #7466a0;
		&:hover{
				border-bottom: 4px solid   #7466a0;
			}
		}
}


.wrapp{
	height: 100vh;
	background-image: url(../img/background.png);
	background-position: right;
	background-repeat:no-repeat;
	background-size: cover;
	min-width: 1060px;
	clear: both;
	display: none;
	h1{
		margin: auto;
    	text-transform: uppercase;
    	padding: 40px;
    	width: 102px;
    	height: 30px;
		margin:  0px auto;
	}
}

.wrapp:first-child{
	display: block;
}
.main_wrp{
	height: 100vh;
	background: linear-gradient(-67deg, #d1eae9 0%, #ece9ff 61%, #ece9ff 100%);
	min-width: 1080px;
}
.drop_wrapp{
    min-width: 1060px;
    margin: 0px auto;
	padding-top: 10px;
    display: block;
    max-width: 1260px;
    margin-bottom: 45px;
		.left{
			float: left;
			width: 30% ;
    		height: auto ;
			.drop_logo{
				margin-right: 15px;	
				color: #1bbae1;
				display: inline-block;
				width: 34px;
				height: 34px;
				background-color: #00a6f1;
                background-image: linear-gradient(130deg, #81d8f1 0%, #afe7f1 100%);
				border-radius: 50%;
				i{
					margin: 9px;
					color: white;
				}
			}
			.drop_ass{
				display: inline-block;
				color: #1bbae1;
				cursor: pointer;
				position: relative;
				p{
					float: left;
					margin-right: 10px;
				}
			}
		}
		.right{
			float: right;	
			width: 70% ;
    		height: auto ;
			div{
				float: right;
				color: #1bbae1;
				margin-right: 10px;
				p{
					float: left;
					padding: 3px 0px 7px 5px;
					margin-right: 15px;
				}
				
			}
			.drop_data{
				cursor: pointer;
				position: relative;
				.fa-calendar{
					float: left;
					font-size: 25px;
    				margin-top: 2px;
					margin-right: 5px;
				}
				p{
					margin-top: 2px ;
				}
				.fa-chevron-down{
					
    				margin-top: 5px;
				}
				
			}
			.drop_types{
				border: 1px solid #1bbae1;
				border-radius: 5px;
				position: relative;
				i{
				    margin-top: 5px;
    				margin-right: 6px;
				}
				&:hover{
					background-color: #1bbae1 ;
					color: white;
					cursor: pointer;
				}
			}
			.drop_status{
				border: 1px solid #1bbae1;
				border-radius: 5px;
				position: relative;
				i{
				    margin-top: 5px;
    				margin-right: 6px;
				}
				&:hover{
					background-color: #1bbae1 ;
					color: white;
					cursor: pointer;
				}
			}
			.drop_proj{
				border: 1px solid #1bbae1;
				border-radius: 5px;
				position: relative;
				&:hover{
					background-color: #1bbae1 ;
					color: white;
					cursor: pointer;
				}
				i{
				    margin-top: 5px;
    				margin-right: 6px;
				}
				p{
					margin-right: 50px !important;
				}
			}
			.drop_miles{
				border: 1px solid #1bbae1;
				border-radius: 5px;
				position: relative;
				&:hover{
					background-color: #1bbae1 ;
					color: white;
					cursor: pointer;
				}
				i{
				    margin-top: 5px;
    				margin-right: 6px;
				}
				p{
					margin-right: 50px !important;
				}
			}
			.drop_search{
				cursor: pointer;
				i{
					font-size: 25px;
    				margin-top: 2px;
				}
			}
			
		}
	
		
	
	}
		
	
.tabl_wrapp{
    border-bottom: 1px solid #959595;
    min-width: 1060px;
    margin: 0 auto;
    display: block;
    max-width: 1260px;
	margin-bottom: 10px;
	clear: both;
	div{
		display: inline-block;
	}
	.t{
		width: 53px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.title{
		width: 390px;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.company{
		width: 108px;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.status{
		width: 117px;
		text-align: center;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.assignee{
		width: 80px;
		text-align: center;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.milestone{
		width: 190px;
		margin-bottom: 3px;
		color: #5a5a5a;
	}
	.spent{
		width: 100px;
		text-align: center;
		margin-bottom: 3px;
		color: #5a5a5a;
		i{
			width: 15px;
			height: 15px;
			color: #5a5a5a;
		}
	}
	.approv{
		width: 100px;
		text-align: center;
		margin-bottom: 3px;
		color: #00a5f1;
		i{
			color: #00a5f1;
		}
	}
	.updeted{
		width: 81px;
		color: #5a5a5a;
		
	}
}
.t_item:nth-child(2n) {
    background-color: rgba(255, 255, 255,0.6);
}
.t_item{
	
		max-width: 1260px;
		margin: 0 auto;
		height: 44px;
    	
    	max-width: 1260px;
		
		background-color: rgba(235, 237, 246,0.6);
		border: 1px solid #959595;
		border-radius: 4px;
	
	div{
		display: block;
		float: left;
	}
	.img{
		margin: 13px 25px 12px 14px;
	}
	.t_title{
		width: 390px;
		margin-right: 0px;
		p{
			font-size: 15px;
			
			line-height: 44px;
			
			
			span{
				color: #6d769b;
			}
		}
	}
	.t_company{
		margin-right: 50px;
		p{
			margin-top: 13px;
			color: #7c8182;
			
			
			line-height: 20px;
			text-transform: uppercase;
		}
	}
	.t_status{
		width: 98px;
		.new{
			margin: 13px auto;
			width: 41px;
			height: 19px;
			margin-top: 13px;
			text-align: center;
			color: white;
			border-radius: 5px;
			background-color: #77d2e2;
		}
		.on_hold{
			margin: 13px auto;
			width: 63px;
			height: 19px;
			margin-top: 13px;
			text-align: center;
			color: white;
			border-radius: 4px;
			background-color: #c6c6c6;
			border-radius: 5px;
			padding: 0px 3px 0px 3px;
		}
	}
	.t_assignee{
		img{
			width: 34px;
			height: 34px;
			border-radius: 50%;
			margin: 6px 30px 0px 30px;
		}
	}
	.t_milestone{
		width: 192px;
		.sercl{
			width: 17px;
			height: 17px;
			background-color: #284e9b;
			border-radius: 50%;
			margin-top: 10px;
			margin-right: 10px;
		}
		.text{
			width: 181px;
			height: 14px;
			color: #3e4041;
			font-family: Ubuntu;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-top: 5px;
			margin-bottom: 4px;
		}
		p{
			color: #284e9b;
			span{
				color: #969c9d;
			}
		}
	}
	.t_spent{
		width: 108px;
		text-align: center;
		i{
			width: 6px;
			height: 4px;
			color: #5a5a5a;
			font-size: 20px;
			font-weight: 700;
			line-height: 44px;
		}
	}
	.t_approv{
		width: 108px;
		text-align: center;
		i{
			width: 6px;
			height: 4px;
			color: #5a5a5a;
			font-size: 20px;
			font-weight: 700;
			line-height: 44px;
		}
	}
	.t_updeted{
		width: 83px;
		p{
			width: 72px;
			height: 14px;
			color: #7c8182;
			font-family: Ubuntu;
			font-size: 14px;
			font-weight: 400;
			line-height: 44px;
			float: left;
		}
		i{
			color: #b7b7b7;
			line-height: 44px;
			margin-left: 6px;
		}	
	}
	
}

.drop_list1{
	display: none;
	position: absolute;
    background-color: white;
	list-style: none;
	color: #1bbae1 ;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}
.drop_list2{
	display: none;
	position: absolute;
    background-color: white;
	color: #1bbae1 ;
	list-style: none;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}
.drop_list3{
	display: none;
	position: absolute;
    background-color: white;
	color: #1bbae1 ;
	list-style: none;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}
.drop_list4{
	display: none;
	position: absolute;
    background-color: white;
	color: #1bbae1 ;
	list-style: none;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}
.drop_list5{
	display: none;
	position: absolute;
    background-color: white;
	color: #1bbae1 ;
	list-style: none;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}
.drop_list6{
	display: none;
	position: absolute;
    background-color: white;
	color: #1bbae1 ;
	list-style: none;
    top: 32px;
    left: 0px;
	width: 100px;
	border: 1px solid #1bbae1;
	border-radius: 5px;
	li{
		text-align: center;
		&:hover{
			background-color: #1bbae1 ;
			color: white;
			cursor: pointer;
		}
	}
}